apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
  annotations:
    clusterconfig.azure.com/use-managed-source: "true"
spec:
  interval: 30m
  chart:
    spec:
      chart: traefik
      version: "34.*"
  values:
    providers:
      kubernetesGateway:
        enabled: true
    gateway:
      enabled: false
    service:
      type: LoadBalancer
      annotations:
        service.beta.kubernetes.io/azure-dns-label-name: flux-demo